*{padding: 0;margin: 0;box-sizing: border-box;}

.view-area{
    width: 1200px;
    margin: 0 auto;
    overflow: hidden; /*현재크기보다 자식크기가 넘어가는부분은 않보이게처리 */
}

.img-wrap{
    display: flex;
    width: calc(1200px * 3);
    margin-left: 0px;
    transition: margin-left .4s ease-in-out;
}

.img-wrap .img:fi{
    width: 1200px;
    height: 500px;
    /* border: 1px solid red; */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.img-wrap .img01{
    background-image: url(./guitar01.jpg);
}
.img-wrap .img02{
    background-image: url(./guitar02.jpg);
    background-position-y: bottom;
}
.img-wrap .img03{
    background-image: url(./guitar03.jpg);
}